/* Write your CSS here */
.table-row {
  display: flex;
  list-style-type: none;
  padding: 0%;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7dfe9;
  border-left: 1px solid #d7dfe9;
  border-right: 1px solid #d7dfe9;
}
.table-data {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  width: 80%;
}
.table-cell {
  color: #334155;
  /* border: 1px solid red; */
  flex-basis: 100px;
  /* margin-right: 20px; */
  margin-left: 20px;
}
.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  /* margin-left: 30px; */
  cursor: pointer;
}
.delete-img {
  width: 20px;
  height: 20px;
}
